@font-face {
    font-family:"NotoSans" ;
    src: url(../fons/NotoSans-Light.ttf);
    font-weight: 100 ;
}
@font-face {
    font-family:"NotoSans" ;
    src: url(../fons/NotoSans-Regular.ttf);
    font-weight:400 ;
}
@font-face {
    font-family:"NotoSans" ;
    src: url(../fons/NotoSans-Medium.ttf);
    font-weight: 500 ;
}
@font-face {
    font-family:"NotoSans" ;
    src: url(../fons/NotoSans-SemiBold.ttf);
    font-weight: 600 ;
}
