@font-face {
    font-family:"Montserrat" ;
    src: url(../fons/Montserrat-Bold.ttf);
    font-weight: 700 ;
}
@font-face {
    font-family:"Montserrat" ;
    src: url(../fons/Montserrat-Medium.ttf);
    font-weight: 500 ;
}
@font-face {
    font-family:"Montserrat" ;
    src: url(../fons/Montserrat-Regular.ttf);
    font-weight: 400 ;
}
@font-face {
    font-family:"ProstoOne" ;
    src: url(../fons/ProstoOne-Regular.ttf);
    font-weight: 400 ;
}
